<div class="col-6">
    <div class="flex gap-2 mb-4">
      <span class="text-3xl">Single Select</span>
      <p-tag severity="success" value="V1" class="flex"></p-tag>
    </div>
    <div class="flex flex-column mb-4">
      <label for="ms-interaction">Interaction mode</label>
      <provenance-dropdown
        id="ss-interaction"
        [options]="cities"
        optionLabel="name"
        dataKey="code"
        mode="interaction"
        placeholder="Select a City"
        [(selected)]="selected"
        [showClear]="true"
        [filter]="true"
        [(provenance)]="provenance.dropdown"
        [freeze]="provenance.freeze"
      /></div>    
  </div>
  <div class="col-6">
  </div>
  