<div style="min-height: 1550; width: 745.44">

    <div id="voyager-embed">

    </div>
</div>
<hr />
<div class="flex flex-row gap-3">
    <div class="flex flex-column mb-4" style="min-width: 300px;">
        <label class="mb-3 text-lg" for="voyager-radio-input">Sex</label>
        <provenance-radiobutton [mode]="mode" [data]="data" [name]="'voyager-radio-input'" [(selected)]="selected"
            (selectedChange)="change($event)">
        </provenance-radiobutton>
    </div>
    <div class="flex flex-column mb-4" style="min-width: 300px;">
        <label class="mb-3 text-lg" for="voyager-text-input">Job title</label>
        <provenance-inputtext [mode]="mode" id="voyager-text-input">
            <!-- <input type="text" pInputText id="voyager-text-input" placeholder="Type here..." /> -->
        </provenance-inputtext>
    </div>
    <div style="min-width: 500px;">
        <label class="text-lg" for="voyager-slider-input">Year</label>
        <provenance-slider [mode]="mode" [value]="1850" [highValue]="2000"
            [options]="{ floor: 1850, ceil: 2000, showTicks: true, tickStep: 25 }"
            (userChangeEnd)="sliderChange($event)"></provenance-slider>
    </div>
</div>